# Python Virtual Environments
venv/
.venv/
env/
__pycache__/
*.py[cod]

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# DATA FOLDER 
# We are NOT ignoring data/ so that Streamlit Cloud can find the CSVs
# If files are too large (>100MB), you will need to upload a smaller sample.